.DS_Store
bin/
makefile.dependencies
build/
Builds/
Debug/
Application/
*.pdbundle64
*.pdobject32
*.sublime-workspace
xcuserdata/
tests/tests
libraries/belle/Belle
libraries/belle/Resources/MICA/MicaData*.hpp
libraries/T/foo
wish/embedded/
wish/tk/
wish/tcl/

