.DS_Store
bin/
makefile.dependencies
build/
Builds/
Debug/
Application/
*.pdbundle64
*.pdobject32
*.mode2v3
*.pbxuser
xcuserdata/
xcshareddata/
tests/tests
libraries/belle/Belle
libraries/belle/Resources/MICA/MicaData*.hpp
libraries/t/foo
*.pdf
