<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Spaghettis</string>
	<key>CFBundleDisplayName</key>
	<string>Spaghettis</string>
	<key>CFBundleIdentifier</key>
	<string>org.puredata.spaghettis</string>
	<key>CFBundleVersion</key>
	<string>0.9</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Pd</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Spaghettis Patch</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdhelp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Spaghettis Help</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdbundle32</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Spaghettis Object 32-bit</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdbundle64</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Spaghettis Object 64-bit</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 1997-2015 Miller Puckette and others.</string>
	<key>CFBundleIconFile</key>
	<string>Wish.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
</dict>
</plist>
